version: "3.8"

services:
  evolution-api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:v2.3.7
    restart: always
    depends_on:
      - evolution-redis
      - evolution-postgres
    ports:
      - "9080:8080"
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - evolution-net
    env_file:
      - .env

  evolution-manager:
    container_name: evolution_manager
    image: evoapicloud/evolution-manager:latest
    restart: always
    ports:
      - "9081:80"
    environment:
      - VITE_API_URL=http://localhost:9080
      - VITE_WS_URL=ws://localhost:9080
    volumes:
      - ./manager-nginx.conf:/etc/nginx/conf.d/nginx.conf
    networks:
      - evolution-net

  evolution-redis:
    container_name: evolution_redis
    image: redis:latest
    restart: always
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    networks:
      - evolution-net
    expose:
      - "6379"

  evolution-postgres:
    container_name: evolution_postgres
    image: postgres:15
    restart: always
    env_file:
      - .env
    command:
      - postgres
      - -c
      - max_connections=1000
      - -c
      - listen_addresses=*
    environment:
      - POSTGRES_DB=${POSTGRES_DATABASE}
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - evolution-net
    expose:
      - "5432"

volumes:
  evolution_instances:
  evolution_redis:
  postgres_data:


networks:
  evolution-net:
    driver: bridge
