networks:
  laapak-network:
    external: true
    name: laapak-network
services:
  # Services using existing infrastructure
  report-system:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: report-system
    env_file:
      - .env
    environment:
      - DB_HOST=mysql-db
      - DB_USER=laapak
      - DB_PASSWORD=laapaksql
      - DB_NAME=laapak_report_system
      - DB_PORT=3306
    networks:
      - laapak-network
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
    ports:
      - 3001:3001
    restart: always
  laapak-frontend-react:
    build:
      context: ./frontend-react
      dockerfile: Dockerfile
    container_name: laapak-frontend-react
    networks:
      - laapak-network
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 3G
    ports:
      - 3000:3000
    restart: always
volumes:
  mysql_data: null
  postgres_data: null
  n8n_data: null
